[gcode_macro HEAT_BED]
gcode:
  {% set TARGET = params.TARGET | default(0) | int %}
  {% set CHAMBER = params.CHAMBER | default(0) | int %}
  {% set SOAK_TIME = (params.SOAK_TIME | default(0) | int) * 60 * 1000 %}

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={TARGET}
  UPDATE_LEDS
  {% for temp in range(0,TARGET) %}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={temp}
    UPDATE_LEDS
  {% endfor %}

  {% if SOAK_TIME > 0 %}
    G4 P{SOAK_TIME}
  {% endif %}

  {% if CHAMBER > 0 %}
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER}
  {% endif %}
  
[gcode_macro HEAT_NOZZLE]
gcode:
  {% set TARGET = params.TARGET | default(0) | int %}
  
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TARGET}
  UPDATE_LEDS
  {% for temp in range(0,TARGET) %}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp}
    UPDATE_LEDS
  {% endfor %}

[gcode_macro HEAT_CHAMBER]
description: Heat chamber for ABS for 20 minutes
gcode:
  # 1. Augmenter le timeout de Klipper à 30 min (1800s) pour éviter la coupure automatique
  SET_IDLE_TIMEOUT TIMEOUT=1800

  # 2. Allumer les chauffages
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=105
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200

  # 3. Attendre que le lit atteigne 105°C avant de lancer le chronomètre de la chambre
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=104 MAXIMUM=110

  # 4. Attendre 20 minutes (20 min * 60s * 1000ms = 1 200 000 ms)
  G4 P1200000

  # 5. Éteindre les chauffages après les 20 minutes
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0

  # 6. Restaurer le timeout par défaut de Klipper (10 min)
  SET_IDLE_TIMEOUT TIMEOUT=600

[gcode_macro HEAT_ABS]
description: Set extruder and bed temps for ABS
gcode:
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=105
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=260