#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
[mcu]
serial: /dev/serial/by-id/{REPLACE WITH YOUR SERIAL}
restart_method: command

#####################################################################
# BED
#####################################################################
[heater_bed]
heater_pin: gpio21
sensor_type: ATC Semitec 104NT-4-R025H42G 
sensor_pin: gpio26
smooth_time: 3.0
min_temp: 0
max_temp: 120

#####################################################################
# FAN
#####################################################################
[fan]
pin: gpio17
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010

[heater_fan hotend_fan]
pin: gpio18
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0