#####################################################################
#   Sensors
#####################################################################
[temperature_sensor raspberry]
sensor_type: temperature_host

#####################################################################
#   Fans
#####################################################################
[controller_fan pi_fan]
pin: gpio20
max_power: 1.0
kick_start_time: 0.5
heater: extruder

#####################################################################
#   Input Shaper
#####################################################################
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    60, 60, 20

[input_shaper]
shaper_type_x: ei
shaper_freq_x: 89.8
shaper_type_y: mzv
shaper_freq_y: 67.8